name: Build

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - trunk

jobs:
  build:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Checkout submodules # This is required, don't use submodules flag for actions/checkout instead.
        run: git submodule update --init --recursive --force
      - uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: 21
      - uses: gradle/actions/setup-gradle@v5
      - name: Update CA
        if: github.repository == 'MetaCubeX/ClashMetaForAndroid'
        run: |
          sudo apt-get update && sudo apt-get install ca-certificates
          sudo update-ca-certificates
          cp -f /etc/ssl/certs/ca-certificates.crt core/src/foss/golang/clash/component/ca/ca-certificates.crt
      - name: Write signing properties
        if: github.repository == 'MetaCubeX/ClashMetaForAndroid'
        env:
          SIGNING_STORE_PASSWORD: ${{ secrets.SIGNING_STORE_PASSWORD }}
          SIGNING_KEY_ALIAS: ${{ secrets.SIGNING_KEY_ALIAS }}
          SIGNING_KEY_PASSWORD: ${{ secrets.SIGNING_KEY_PASSWORD }}
        run: |
          touch signing.properties
          echo keystore.password="$SIGNING_STORE_PASSWORD" > signing.properties
          echo key.alias="$SIGNING_KEY_ALIAS" >> signing.properties
          echo key.password="$SIGNING_KEY_PASSWORD" >> signing.properties
      - name: Build
        run: |
          ./gradlew app:assembleMetaRelease
      - name: Delete release if exist then create release
        if: github.repository == 'Goooler/ClashMetaForAndroid' && github.event_name == 'push'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release view nightly && gh release delete nightly -y --cleanup-tag
          gh release create nightly "./app/build/outputs/apk/meta/release/"*.apk --prerelease --generate-notes
